@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Rammetto+One&family=Sofia+Sans+Semi+Condensed&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    inset: 0;
}

:root{
    /* Colores */
    --color-primario: #20085E;
    --color-primario-selecto: #341582;

    --color-secundario: #081B5E;
    /* --color-secundario: #5885AF;
    --color-secundario-selecto: #7bb2e4; */
    
    --color-texto: #fff;

    --color-acento: #e06024;
    --color-acento-selecto: #f66231;

    /* Dimensiones */
    --navbar-height: 64px;
    --doc-max-width: 1080px;
}


.contenido-pagina {
    display: flex;
	flex-direction: column;

    align-items: center;

	max-width: var(--doc-max-width);
	margin: 0 auto;

	padding: 4em 2em;
	gap: 2em;
}